@keyframes arrowLeft{
    0%{left: 20px;}
    18%{left: 5px;}
    33%{left: 20px;}
    42%{left: 10px;}
    50%{left: 20px;}
    100%{left: 20px}
}

@-webkit-keyframes arrowLeft{
    0%{left: 20px;}
    20%{left: 5px;}
    35%{left: 20px;}
    42%{left: 10px;}
    50%{left: 20px;}
    100%{left: 20px}
}

@-moz-keyframes arrowLeft{
    0%{left: 20px;}
    20%{left: 5px;}
    35%{left: 20px;}
    42%{left: 10px;}
    50%{left: 20px;}
    100%{left: 20px}
}

@-o-keyframes arrowLeft{
    0%{left: 20px;}
    20%{left: 5px;}
    35%{left: 20px;}
    42%{left: 10px;}
    50%{left: 20px;}
    100%{left: 20px}
}

@keyframes arrowRight{
    0%{right: 20px;}
    18%{right: 5px;}
    33%{right: 20px;}
    42%{right: 10px;}
    50%{right: 20px;}
    100%{right: 20px}
}

@-webkit-keyframes arrowRight{
    0%{right: 20px;}
    20%{right: 5px;}
    35%{right: 20px;}
    42%{right: 10px;}
    50%{right: 20px;}
    100%{right: 20px}
}

@-moz-keyframes arrowRight{
    0%{right: 20px;}
    20%{right: 5px;}
    35%{right: 20px;}
    42%{right: 10px;}
    50%{right: 20px;}
    100%{right: 20px}
}

@-o-keyframes arrowRight{
    0%{right: 20px;}
    20%{right: 5px;}
    35%{right: 20px;}
    42%{right: 10px;}
    50%{right: 20px;}
    100%{right: 20px}
}
@keyframes arrowUp{
    0%{bottom: 30px; opacity: 1;}
    20%{bottom: 35px; opacity: 0;}
    50%{bottom: 25px; opacity: 0;}
    70%{bottom: 30px; opacity: 1;}
    100%{bottom: 30px; opacity: 1;}
}

@-webkit-keyframes arrowUp{
    0%{bottom: 30px; opacity: 1;}
    20%{bottom: 35px; opacity: 0;}
    50%{bottom: 25px; opacity: 0;}
    70%{bottom: 30px; opacity: 1;}
    100%{bottom: 30px; opacity: 1;}
}

@-moz-keyframes arrowUp{
    0%{bottom: 30px; opacity: 1;}
    20%{bottom: 35px; opacity: 0;}
    50%{bottom: 25px; opacity: 0;}
    70%{bottom: 30px; opacity: 1;}
    100%{bottom: 30px; opacity: 1;}
}

@-o-keyframes arrowUp{
    0%{bottom: 30px; opacity: 1;}
    20%{bottom: 35px; opacity: 0;}
    50%{bottom: 25px; opacity: 0;}
    70%{bottom: 30px; opacity: 1;}
    100%{bottom: 30px; opacity: 1;}
}
html, body{height: 100%; font-family: "微软雅黑"; overflow: hidden;}
html{font-size: 62.5%;}

*{margin: 0; padding: 0; list-style: none;}
.imgslide{width: 100%; height: 1000%; overflow: hidden; position: absolute; top: 0; left: 0; color: #fff;}
.imgslide > div{
    width: 100%; 
    height: 10%; 
    position: relative;
    overflow: hidden;
}
body{background: #000;}
.arrow{ background-size: contain; z-index: 100;display: block; width: 30px; height: 22px; background: url(images/arrow.png) 0 0 no-repeat; position: absolute; bottom: 40px; left: 50%; margin-left: -7px;
    animation:arrowUp;
    animation-timing-function:ease;    
    animation-duration:2s;
    animation-iteration-count:infinite;
    -webkit-animation:arrowUp;
    -webkit-animation-timing-function:ease;    
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation:arrowUp;
    -moz-animation-timing-function:ease;    
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -o-animation:arrowUp;
    -o-animation-timing-function:ease;    
    -o-animation-duration:2s;
    -o-animation-iteration-count:infinite;
   
}

/*说明内容*/
.arrow{ background-size: contain; z-index: 100;display: block; width: 30px; height: 22px; background: url(../images/arrow.png) 0 0 no-repeat; position: absolute; bottom: 40px; left: 50%; margin-left: -7px;
    animation:arrowUp;
    animation-timing-function:ease;    
    animation-duration:2s;
    animation-iteration-count:infinite;
    -webkit-animation:arrowUp;
    -webkit-animation-timing-function:ease;    
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation:arrowUp;
    -moz-animation-timing-function:ease;    
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -o-animation:arrowUp;
    -o-animation-timing-function:ease;    
    -o-animation-duration:2s;
    -o-animation-iteration-count:infinite;
   
}
.left, .right{position: absolute; width: 23px; height: 35px; display: block; top: 50%; margin-top: -13px; z-index: 20;}
.left{left: 20px; background: url(../images/left.png) 0 0 no-repeat;
    animation:arrowLeft;
    animation-timing-function:ease;    
    animation-duration:2s;
    animation-iteration-count:infinite;
    -webkit-animation:arrowLeft;
    -webkit-animation-timing-function:ease;    
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation:arrowLeft;
    -moz-animation-timing-function:ease;    
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -o-animation:arrowLeft;
    -o-animation-timing-function:ease;    
    -o-animation-duration:2s;
    -o-animation-iteration-count:infinite;
}
.right{right: 20px; background: url(../images/right.png) 0 0 no-repeat;
    animation:arrowRight;
    animation-timing-function:ease;    
    animation-duration:2s;
    animation-iteration-count:infinite;
    -webkit-animation:arrowRight;
    -webkit-animation-timing-function:ease;    
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation:arrowRight;
    -moz-animation-timing-function:ease;    
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -o-animation:arrowRight;
    -o-animation-timing-function:ease;    
    -o-animation-duration:2s;
    -o-animation-iteration-count:infinite;
}

.clearfix{overflow: hidden;}
.clearfix:after {clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:".";}
.slideWrap{width: 100%; height: 100%; overflow: hidden; position: relative;}
.slide{position: absolute; left: 0; top: 0; z-index: 15; height:100%;font-size: 100px;}
html, body {
    height: 100%;
    font-family: "微软雅黑";
    overflow: hidden;
}
.slide > div {
    float: left;
    height: 100%;
}